{{#each art}}
      <div class="container">
        <a href="artworks/{{id}}"><h2 class="container-head">{{title}}</h2></a>
            <img src="{{artwork}}" alt="Bird Image" class="img">
        <div class="inner">
          <p>{{artist.name}}</p>
          <p>{{license.name}}</p>
          </div>
      </div>
   {{/each}}
