
<h1>{{title}}</h1>
<img class="img" src="{{img}}" alt="cheeky cat">
<div class="img__info">
  <p class="img-info">By: {{artist}}</p>
  <p class="img-info">License: {{license}}</p>
  <p class="img-info">Name: {{ name }}</p>
</div>